<footer>
	<div class="footer">
		<div>
			<%= link_to "What we do", '#about' %>
			<%= link_to "Testimonials", '#works' %>
			<%= link_to "Team", '#team' %>
		</div>
		<div>
			<ul>
				<li><%= link_to image_tag( "facebook logo.png", alt: "facebook logo" ), '#' %></li>
				<li><%= link_to image_tag( "twitter logo.png", alt: "twitter logo" ), '#' %></li>
				<li><%= link_to image_tag( "github logo.png", alt: "github logo" ), '#' %>
			</ul>
		</div>
		<div>
			<h6>nimbl3 office</h6>
			<address>
				<p>
					A: 25th Floor, Workington Tower, 78 Bonham Strand </br>
					Sheung Wan, Hong Kong
				</p>
				<%= link_to "E: hello@nimbl3.com", 'mailto: hello@nimbl3.com' %>
			</address>

		</div>
	</div>
</footer>