<header class="main-nav">
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Services", '#services' %></li>
			<li><%= link_to "Works", '#works' %></li>
			<li><%= link_to "Team", '#team' %></li>
			<li><%= link_to "Contact", '#contact' %></li>
			<li><%= link_to "Join us", '#joinus' %></li>
		</ul>
	</nav>
</header>